<h2>Los autores de ésta práctica somos: Jesús Aparicio Oliver y Verónica González Pérez</h2><br>
<img scr="../public/jesus.jpg" width="320" height="400"></img><br>
<img scr="../public/imagenVeroValida.png" width="320" height="400"></img><br>
<video src="../public/logo_de_Chrome.ogv" width="auto" height="240"controls preload autoplay></video><br>
